
{% if current_user.is_authenticated %}
{% extends 'admin/master.html' %}
{% block content %}
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 text-left">
                        </div>
                    </div>

                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Tên bài báo</th>
                                            <th>URL</th>
                                            <th>Audio</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Tên bài báo</th>
                                            <th>URL</th>
                                            <th>Audio</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        {% for item in data %}
                                        <tr>
                                            <td>{{item.title}}</td>
                                            <td> <a href=" https://tuoitre.vn{{item.url}}" target="_blank"> https://tuoitre.vn{{item.url}}</a></td>
                                            <td>
                                                <audio controls>
                                                  <source src="{{url_for('static',filename='assets/audio/')}}{{item.mp3}}" type="audio/ogg">
                                                  <source src="" type="audio/mpeg">
                                                </audio>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>



{% endblock %}
{%else%}
    {% include 'admin/login.html' %}
{% endif%}