
<script type="text/javascript" async="" src="https://www.gstatic.com/recaptcha/releases/bfvuz6tShG5aoZp4K4zPVf5t/recaptcha__en.js" crossorigin="anonymous" integrity="sha384-pMn/at+iAgl0PpX8A+ccr7iPPScp0lIFsRTiC6EkDFtJ3fTeFBeJkP7nZJTcbD5h">
</script><script src="{{url_for('static',filename='ttsp_assets/js/jquery.min.js')}}"></script>
<script src="{{url_for('static',filename='ttsp_assets/js/popper.min.js')}}"></script>
<script src="{{url_for('static',filename='ttsp_assets/js/bootstrap.min.js')}}"></script>
<script src="{{url_for('static',filename='ttsp_assets/js/headroom.min.js')}}"></script>
<script src="{{url_for('static',filename='ttsp_assets/js/on-screen.umd.min.js')}}"></script>
<script src="{{url_for('static',filename='ttsp_assets/js/jquery.waypoints.min.js')}}"></script>
<script src="https://kit.fontawesome.com/850c1fa0c2.js" crossorigin="anonymous"></script>
<script src="{{url_for('static',filename='ttsp_assets/js/jarallax.min.js')}}"></script>
<script src="{{url_for('static',filename='ttsp_assets/js/smooth-scroll.polyfills.min.js')}}"></script>
<script async="" defer="" src="{{url_for('static',filename='ttsp_assets/js/buttons.js')}}"></script>
<script src="{{url_for('static',filename='ttsp_assets/js/api.js')}}" async="" defer=""></script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
<input type="hidden" id="google_analytics_id" name="google_analytics_id" value="G-1XT6LX9RS2">
<script async="" src="{{url_for('static',filename='ttsp_assets/js/js')}}"></script>
<script src="{{url_for('static',filename='ttsp_assets/js/front.js')}}"></script>

<script src="{{url_for('static',filename='ttsp_assets/js/app.js')}}"></script><script src="{{url_for('static',filename='ttsp_assets/js/bootstrap.bundle.min.js')}}"></script>
<script src="{{url_for('static',filename='ttsp_assets/js/jquery.easing.min.js')}}"></script>
<script src="{{url_for('static',filename='ttsp_assets/js/jquery.blockUI.js')}}"></script>
<script src="{{url_for('static',filename='ttsp_assets/js/sb-admin-2.min.js')}}"></script>
<input type="hidden" id="cookie_policy_link_text" name="cookie_policy_link_text" value="Tìm hiểu thêm">
<input type="hidden" id="cookie_policy_link" name="cookie_policy_link" value="https://HeroBot.vn/generic/terms_conditions">
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='ttsp_assets/css/cookieconsent.min.css')}}">
<script src="{{url_for('static',filename='ttsp_assets/js/cookieconsent.min.js')}}" data-cfasync="false"></script>
<script src="{{url_for('static',filename='ttsp_assets/js/bootstrap-select.min.js')}}"></script>
<script src="{{url_for('static',filename='ttsp_assets/js/jquery.blockUI.js')}}"></script>
<script src="{{url_for('static',filename='ttsp_assets/js/jquery.dataTables.min.js')}}"></script>
<script src="{{url_for('static',filename='ttsp_assets/js/dataTables.bootstrap4.min.js')}}"></script>
<script src="{{url_for('static',filename='ttsp_assets/js/Chart.min.js')}}"></script>
<script src="{{url_for('static',filename='ttsp_assets/js/sb-admin-2.min.js')}}"></script>
<script src="{{url_for('static',filename='ttsp_assets/js/sweetalert2.min.js')}}"></script>
<script src="{{url_for('static',filename='ttsp_assets/js/summernote.min.js')}}"></script>
<script src="{{url_for('static',filename='ttsp_assets/js/moment.min.js')}}"></script>
<script src="{{url_for('static',filename='ttsp_assets/js/bootstrap-datepicker.min.js')}}"></script>
<script src="{{url_for('static',filename='ttsp_assets/js/app_tts.js')}}"></script>