<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Việt Bot</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="HeroBot, tts, text to speech, vbee, chuyen doi van ban thanh giong noi, chuyển đổi văn bản thành giọng nói tự động, ứng dụng text to speech, ung dung text to speech, ai tri tue nhan tao, giong noi thong minh">
    <meta name="description" content="HeroBot cung cấp công nghệ chuyển văn bản thành tiếng nói Text-To-Speech (TTS) và hội thoại thông minh.">
    <meta name="author" content="Việt Bot">
    <link rel="shortcut icon" href="https://HeroBot.vn/upload/favicon.ico" type="image/x-icon">
    <link type="text/css" href="https://HeroBot.vn/assets/themes/default/front/vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">

    <link type="text/css" href="{{url_for('static',filename='ttsp_assets/css/prism.css')}}" rel="stylesheet">
    <link type="text/css" href="{{url_for('static',filename='ttsp_assets/css/front.css')}}  " rel="stylesheet">

  <link href="{{url_for('static',filename='ttsp_assets/css/all.min.css')}}" rel="stylesheet" type="text/css">
  <link href="{{url_for('static',filename='ttsp_assets/css/css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='ttsp_assets/css/sb-admin-2.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='ttsp_assets/css/custom.css')}}" rel="stylesheet">

  <link href="{{url_for('static',filename='ttsp_assets/css/bootstrap-select.min.css')}}" rel="stylesheet" type="text/css">
  <link href="{{url_for('static',filename='ttsp_assets/css/dataTables.bootstrap4.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='ttsp_assets/css/sweetalert2.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='ttsp_assets/css/summernote.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='ttsp_assets/css/bootstrap-datepicker.min.css')}}" rel="stylesheet">
</head>